*{
    font-family:  'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;;
}
:root{
    --red:#dc3545;
    --white:#fff;
    --gray:rgba(255,255,255,.7);
}
nav{
    z-index:1000;
}
.w-60{
    width: 65%;
}
.nav-links{
    color: var(--white);
    transition: 0.2s;
}
.nav-links:hover{
    color: var(--red)
}
.w-40{
    width: 40%;
}
#menu-close{
    display: none;
}

.border-gray{
    color:var(--gray);
}
.details{
    background-color: var(--gray);
    overflow: hidden;
    height: 0;
    bottom: 0;
    transition: 0.8s ease;
}
.img-film{
    height: 100%
}

.contain:hover .details{
    height: calc(100% - 5%)

}
.contain{
    padding: 3%;
}


#wrong-p,#wrong-Re,#wrong-Pass,#wrong-A,#wrong-E,#wrong-N{
    display: none;
}


.back-body{
    background-color: #0D0D0D;
}
body{
    font-size: 1rem;
    overflow: hidden;
}
.fs-cu{
    font-size: 18px;
}
#loading{
    background-color: #0D0D0D;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.nav-op{
    display: none;
}